* {
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: min(100px, 10vh);
  margin-top: 5vh;
  overflow-x: hidden;
}

.day {
  border: 1px solid #ccc;
  height: 125px;  
  padding: 10px;
  margin: 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}